<center> 
<h1> Votre ToDo liste <h1> 
<h3>pour pas oublier ;-)</h3>
<br>

<div class="container">
<form action="/datas" method="post">
	<textarea type="text" name="todo" placeholder="Tapez ce que vous allez faire ici"></textarea>
	<input type="date" name="date" autocomplete = "on" min="today" value="today">
	<input type="submit" value="Prendre Note!">
</form>
<br>
	<table>
		<tr>
		<th class="taches">taches</th><th class="date">date</th>
		</tr>
			
		<% @datas.each do |d| %>
		<tr class="">
		<td><%= d.todo	%><a href="">[edit]</a><a href="/delete/<%= d[:id] %>">[X]</a></td>
		<td><%= d.date	%></td> 
		</tr>
		<% end %>
		
		
			
	</table>
</div>
</center>

