<div class="container">
<form class="form-inline" action="/datas" method="post">
	<input class="form-control" style="width: 50%;" type="text" name="todo" placeholder="Tapez ce que vous allez faire ici">
	<input class="form-control" type="date" name="date" autocomplete = "on" min="today" value="today">
	<input class="btn btn-success" type="submit" value="Prendre Note!">
</form>
<br>

	<table>
		<tr>
		<th class="taches">taches</th><th class="date">date</th>
		</tr>
			
		<% @datas.each do |d| %>
		<tr class="">
		<td><%= d.todo	%><a href="/edit/<%= d[:id] %>">Modifier</a><a href="/delete/<%= d[:id] %>">Supprimer</a></td>
		<td><%= d.date	%></td> 
		</tr>
		<% end %>
		
		
			
	</table>
</div>
</center>

