<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        
        <title>titre</title>
        <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="todo.css">
        
    </head>

    <body>
        <center> 
        <h1> Votre ToDo liste <h1> 
        <h3>pour pas oublier ;-)</h3>
        <br>

        <%=yield %>
        
    </body>
</html>